<h1>Our Fleet</h1>
<div>
    <div class="float-container">
        {{#each cars}}
        <div class="fleet-container">
            <img src="/images/{{image}}.jpg">
            <div id="h2">
                <h2>{{title}}</h2>
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
            <h3>{{description}}</h3>
            <h3>${{price}}</h3>
            <a id = "booknow" href="/rent/{{carId}}">Book Now</a>
            </div>
        </div>
        {{/each}}
    </div>
</div>